-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: pharmacy_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `medicine_batches`
--

DROP TABLE IF EXISTS `medicine_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `medicine_batches` (
  `batch_id` int(11) NOT NULL AUTO_INCREMENT,
  `medicine_id` int(11) NOT NULL,
  `batch_number` varchar(50) NOT NULL,
  `manufacturing_date` date DEFAULT NULL,
  `expiry_date` date NOT NULL,
  `purchase_price` decimal(10,2) NOT NULL DEFAULT 0.00,
  `mrp` decimal(10,2) NOT NULL DEFAULT 0.00,
  `sale_price` decimal(10,2) NOT NULL DEFAULT 0.00,
  `quantity_received` int(11) NOT NULL DEFAULT 0,
  `quantity_available` int(11) NOT NULL DEFAULT 0,
  `reserved_quantity` int(11) NOT NULL DEFAULT 0,
  `damaged_quantity` int(11) NOT NULL DEFAULT 0,
  `quarantined_quantity` int(11) NOT NULL DEFAULT 0,
  `disposed_quantity` int(11) NOT NULL DEFAULT 0,
  `supplier_id` int(11) DEFAULT NULL,
  `purchase_id` int(11) DEFAULT NULL,
  `shelf_location` varchar(50) DEFAULT NULL,
  `status` enum('Active','Near Expiry','Expired','Blocked','Depleted','Quarantined','Disposed') NOT NULL DEFAULT 'Active',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`batch_id`),
  UNIQUE KEY `uq_medicine_batch` (`medicine_id`,`batch_number`),
  KEY `idx_medicine_id` (`medicine_id`),
  KEY `idx_batch_number` (`batch_number`),
  KEY `idx_expiry_date` (`expiry_date`),
  KEY `idx_status` (`status`),
  KEY `idx_quantity_available` (`quantity_available`),
  CONSTRAINT `fk_batches_medicine` FOREIGN KEY (`medicine_id`) REFERENCES `medicines` (`medicine_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medicine_batches`
--

LOCK TABLES `medicine_batches` WRITE;
/*!40000 ALTER TABLE `medicine_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `medicine_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medicines`
--

DROP TABLE IF EXISTS `medicines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `medicines` (
  `medicine_id` int(11) NOT NULL AUTO_INCREMENT,
  `medicine_name` varchar(150) NOT NULL,
  `generic_name` varchar(150) DEFAULT NULL,
  `composition` text DEFAULT NULL,
  `strength` varchar(50) DEFAULT NULL,
  `dosage_form` varchar(50) DEFAULT NULL,
  `brand_name` varchar(150) DEFAULT NULL,
  `category` varchar(100) DEFAULT NULL,
  `unit` varchar(50) DEFAULT 'Unit',
  `pack_size` varchar(50) NOT NULL DEFAULT '1',
  `rack_location` varchar(50) DEFAULT NULL,
  `shelf` varchar(50) DEFAULT NULL,
  `box_bin` varchar(50) DEFAULT NULL,
  `schedule_type` varchar(50) NOT NULL DEFAULT 'General',
  `manufacturer` varchar(150) DEFAULT NULL,
  `hsn_code` varchar(50) DEFAULT NULL,
  `gst_percent` decimal(5,2) NOT NULL DEFAULT 0.00,
  `price` decimal(10,2) NOT NULL DEFAULT 0.00,
  `purchase_price` decimal(10,2) NOT NULL DEFAULT 0.00,
  `stock_quantity` int(11) NOT NULL DEFAULT 0,
  `reorder_level` int(11) NOT NULL DEFAULT 10,
  `min_stock` int(11) NOT NULL DEFAULT 5,
  `max_stock` int(11) NOT NULL DEFAULT 1000,
  `reorder_qty` int(11) NOT NULL DEFAULT 50,
  `barcode` varchar(100) DEFAULT NULL,
  `alternate_barcode` varchar(100) DEFAULT NULL,
  `expiry_date` date DEFAULT NULL,
  `batch_number` varchar(50) DEFAULT NULL,
  `status` enum('Active','Inactive','Discontinued') NOT NULL DEFAULT 'Active',
  `created_by` int(11) DEFAULT NULL,
  `updated_by` int(11) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`medicine_id`),
  UNIQUE KEY `uq_barcode` (`barcode`),
  KEY `idx_medicine_name` (`medicine_name`),
  KEY `idx_generic_name` (`generic_name`),
  KEY `idx_category` (`category`),
  KEY `idx_status` (`status`),
  KEY `idx_stock_quantity` (`stock_quantity`),
  KEY `idx_rack_location` (`rack_location`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medicines`
--

LOCK TABLES `medicines` WRITE;
/*!40000 ALTER TABLE `medicines` DISABLE KEYS */;
/*!40000 ALTER TABLE `medicines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_audit_logs`
--

DROP TABLE IF EXISTS `pharmacy_audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_audit_logs` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `action` varchar(50) NOT NULL,
  `entity_type` varchar(50) NOT NULL,
  `entity_id` varchar(50) DEFAULT NULL,
  `old_values` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`old_values`)),
  `new_values` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`new_values`)),
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` varchar(255) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_user_action` (`user_id`,`action`),
  KEY `idx_entity` (`entity_type`,`entity_id`),
  KEY `idx_created` (`created_at`),
  KEY `idx_audit_action_date` (`action`,`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_audit_logs`
--

LOCK TABLES `pharmacy_audit_logs` WRITE;
/*!40000 ALTER TABLE `pharmacy_audit_logs` DISABLE KEYS */;
INSERT INTO `pharmacy_audit_logs` VALUES (1,1,'USER_LOGIN','pharmacy_users','1',NULL,'{\"username\":\"admin\",\"role\":\"ADMIN\"}','127.0.0.1','Python-urllib/3.14','2026-09-21 12:24:10');
/*!40000 ALTER TABLE `pharmacy_audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_dispensing_batches`
--

DROP TABLE IF EXISTS `pharmacy_dispensing_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_dispensing_batches` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `dispensing_id` int(11) NOT NULL,
  `prescription_item_id` int(11) DEFAULT NULL,
  `indent_item_id` int(11) DEFAULT NULL,
  `medicine_id` int(11) NOT NULL,
  `batch_id` int(11) NOT NULL,
  `batch_number` varchar(100) NOT NULL,
  `expiry_date` date NOT NULL,
  `dispensed_qty` int(11) NOT NULL,
  `unit_cost` decimal(10,2) NOT NULL DEFAULT 0.00,
  `unit_price` decimal(10,2) NOT NULL DEFAULT 0.00,
  `stock_ledger_id` int(11) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_dsp_b_record` (`dispensing_id`),
  KEY `idx_dsp_b_rx_item` (`prescription_item_id`),
  KEY `idx_dsp_b_indent_item` (`indent_item_id`),
  KEY `idx_dsp_b_med` (`medicine_id`),
  KEY `idx_dsp_b_batch` (`batch_id`),
  KEY `idx_dsp_b_ledger` (`stock_ledger_id`),
  CONSTRAINT `fk_dsp_b_batch` FOREIGN KEY (`batch_id`) REFERENCES `medicine_batches` (`batch_id`),
  CONSTRAINT `fk_dsp_b_record` FOREIGN KEY (`dispensing_id`) REFERENCES `pharmacy_dispensing_records` (`dispensing_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_dispensing_batches`
--

LOCK TABLES `pharmacy_dispensing_batches` WRITE;
/*!40000 ALTER TABLE `pharmacy_dispensing_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_dispensing_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_dispensing_records`
--

DROP TABLE IF EXISTS `pharmacy_dispensing_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_dispensing_records` (
  `dispensing_id` int(11) NOT NULL AUTO_INCREMENT,
  `dispensing_number` varchar(50) NOT NULL,
  `prescription_id` int(11) DEFAULT NULL,
  `indent_id` int(11) DEFAULT NULL,
  `sale_id` int(11) DEFAULT NULL,
  `patient_type` enum('IPD','OPD','WARD','EXTERNAL') NOT NULL DEFAULT 'IPD',
  `patient_id` int(11) DEFAULT NULL,
  `patient_name` varchar(150) NOT NULL,
  `ipd_admission_no` varchar(50) DEFAULT NULL,
  `ward` varchar(100) DEFAULT NULL,
  `bed` varchar(50) DEFAULT NULL,
  `dispensing_date` datetime NOT NULL,
  `status` enum('COMPLETED','PARTIAL','CANCELLED') NOT NULL DEFAULT 'COMPLETED',
  `notes` text DEFAULT NULL,
  `dispensed_by` int(11) NOT NULL,
  `idempotency_key` varchar(100) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`dispensing_id`),
  UNIQUE KEY `dispensing_number` (`dispensing_number`),
  UNIQUE KEY `idempotency_key` (`idempotency_key`),
  KEY `idx_dsp_rx` (`prescription_id`),
  KEY `idx_dsp_indent` (`indent_id`),
  KEY `idx_dsp_sale` (`sale_id`),
  KEY `idx_dsp_patient` (`patient_id`),
  KEY `idx_dsp_ipd` (`ipd_admission_no`),
  KEY `idx_dsp_date` (`dispensing_date`),
  KEY `idx_dsp_dispenser` (`dispensed_by`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_dispensing_records`
--

LOCK TABLES `pharmacy_dispensing_records` WRITE;
/*!40000 ALTER TABLE `pharmacy_dispensing_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_dispensing_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_disposals`
--

DROP TABLE IF EXISTS `pharmacy_disposals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_disposals` (
  `disposal_id` int(11) NOT NULL AUTO_INCREMENT,
  `disposal_no` varchar(50) NOT NULL,
  `disposal_date` date NOT NULL,
  `medicine_id` int(11) NOT NULL,
  `batch_id` int(11) NOT NULL,
  `quantity` int(11) NOT NULL,
  `reason` enum('EXPIRED','DAMAGED','CONTAMINATED','RECALLED','QUARANTINE_REJECTED') NOT NULL,
  `source_type` enum('EXPIRED_STOCK','DAMAGE_REPORT','QUARANTINE','SALES_RETURN','MANUAL') NOT NULL DEFAULT 'MANUAL',
  `source_id` int(11) DEFAULT NULL,
  `disposal_method` enum('INCINERATION','CHEMICAL_DESTRUCTION','SECURE_LANDFILL','SUPPLIER_TAKEBACK','OTHER') NOT NULL DEFAULT 'INCINERATION',
  `witness_name` varchar(100) DEFAULT NULL,
  `status` enum('PENDING','APPROVED','DISPOSED','CANCELLED') NOT NULL DEFAULT 'DISPOSED',
  `idempotency_key` varchar(100) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  `approved_by` int(11) DEFAULT NULL,
  `executed_by` int(11) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`disposal_id`),
  UNIQUE KEY `disposal_no` (`disposal_no`),
  UNIQUE KEY `idempotency_key` (`idempotency_key`),
  KEY `idx_medicine_id` (`medicine_id`),
  KEY `idx_batch_id` (`batch_id`),
  KEY `idx_disposal_date` (`disposal_date`),
  KEY `idx_status` (`status`),
  CONSTRAINT `fk_disp_batch` FOREIGN KEY (`batch_id`) REFERENCES `medicine_batches` (`batch_id`),
  CONSTRAINT `fk_disp_medicine` FOREIGN KEY (`medicine_id`) REFERENCES `medicines` (`medicine_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_disposals`
--

LOCK TABLES `pharmacy_disposals` WRITE;
/*!40000 ALTER TABLE `pharmacy_disposals` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_disposals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_grn`
--

DROP TABLE IF EXISTS `pharmacy_grn`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_grn` (
  `grn_id` int(11) NOT NULL AUTO_INCREMENT,
  `grn_number` varchar(50) NOT NULL,
  `grn_date` date NOT NULL,
  `supplier_id` int(11) NOT NULL,
  `po_id` int(11) DEFAULT NULL,
  `supplier_invoice_no` varchar(100) DEFAULT NULL,
  `supplier_invoice_date` date DEFAULT NULL,
  `receiving_location` varchar(100) DEFAULT 'Main Pharmacy Store',
  `subtotal_amount` decimal(12,2) NOT NULL DEFAULT 0.00,
  `discount_amount` decimal(12,2) NOT NULL DEFAULT 0.00,
  `tax_amount` decimal(12,2) NOT NULL DEFAULT 0.00,
  `total_amount` decimal(12,2) NOT NULL DEFAULT 0.00,
  `status` enum('DRAFT','POSTED','CANCELLED') NOT NULL DEFAULT 'DRAFT',
  `idempotency_key` varchar(64) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `received_by` int(11) DEFAULT NULL,
  `posted_by` int(11) DEFAULT NULL,
  `posted_at` datetime DEFAULT NULL,
  `cancelled_by` int(11) DEFAULT NULL,
  `cancelled_at` datetime DEFAULT NULL,
  `cancellation_reason` text DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`grn_id`),
  UNIQUE KEY `grn_number` (`grn_number`),
  UNIQUE KEY `idempotency_key` (`idempotency_key`),
  KEY `idx_supplier_id` (`supplier_id`),
  KEY `idx_po_id` (`po_id`),
  KEY `idx_grn_date` (`grn_date`),
  KEY `idx_status` (`status`),
  CONSTRAINT `fk_grn_po` FOREIGN KEY (`po_id`) REFERENCES `pharmacy_purchase_orders` (`po_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_grn_supplier` FOREIGN KEY (`supplier_id`) REFERENCES `pharmacy_suppliers` (`supplier_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_grn`
--

LOCK TABLES `pharmacy_grn` WRITE;
/*!40000 ALTER TABLE `pharmacy_grn` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_grn` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_grn_items`
--

DROP TABLE IF EXISTS `pharmacy_grn_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_grn_items` (
  `grn_item_id` int(11) NOT NULL AUTO_INCREMENT,
  `grn_id` int(11) NOT NULL,
  `po_item_id` int(11) DEFAULT NULL,
  `medicine_id` int(11) NOT NULL,
  `batch_id` int(11) DEFAULT NULL,
  `batch_number` varchar(50) NOT NULL,
  `mfg_date` date DEFAULT NULL,
  `expiry_date` date NOT NULL,
  `ordered_qty` int(11) NOT NULL DEFAULT 0,
  `received_qty` int(11) NOT NULL DEFAULT 0,
  `free_qty` int(11) NOT NULL DEFAULT 0,
  `rejected_qty` int(11) NOT NULL DEFAULT 0,
  `damaged_qty` int(11) NOT NULL DEFAULT 0,
  `accepted_qty` int(11) NOT NULL DEFAULT 0,
  `purchase_rate` decimal(10,2) NOT NULL DEFAULT 0.00,
  `discount_percent` decimal(5,2) NOT NULL DEFAULT 0.00,
  `gst_percent` decimal(5,2) NOT NULL DEFAULT 0.00,
  `mrp` decimal(10,2) NOT NULL DEFAULT 0.00,
  `sale_price` decimal(10,2) NOT NULL DEFAULT 0.00,
  `line_total` decimal(12,2) NOT NULL DEFAULT 0.00,
  `shelf_location` varchar(50) DEFAULT NULL,
  `remarks` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`grn_item_id`),
  KEY `idx_grn_id` (`grn_id`),
  KEY `idx_po_item_id` (`po_item_id`),
  KEY `idx_medicine_id` (`medicine_id`),
  KEY `idx_batch_id` (`batch_id`),
  CONSTRAINT `fk_grn_items_batch` FOREIGN KEY (`batch_id`) REFERENCES `medicine_batches` (`batch_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_grn_items_grn` FOREIGN KEY (`grn_id`) REFERENCES `pharmacy_grn` (`grn_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_grn_items_medicine` FOREIGN KEY (`medicine_id`) REFERENCES `medicines` (`medicine_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_grn_items`
--

LOCK TABLES `pharmacy_grn_items` WRITE;
/*!40000 ALTER TABLE `pharmacy_grn_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_grn_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_indent_items`
--

DROP TABLE IF EXISTS `pharmacy_indent_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_indent_items` (
  `item_id` int(11) NOT NULL AUTO_INCREMENT,
  `indent_id` int(11) NOT NULL,
  `medicine_id` int(11) NOT NULL,
  `requested_qty` int(11) NOT NULL,
  `approved_qty` int(11) NOT NULL DEFAULT 0,
  `dispensed_qty` int(11) NOT NULL DEFAULT 0,
  `status` enum('PENDING','APPROVED','DISPENSED','REJECTED') NOT NULL DEFAULT 'PENDING',
  `notes` varchar(255) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`item_id`),
  KEY `idx_indent_item_indent` (`indent_id`),
  KEY `idx_indent_item_med` (`medicine_id`),
  CONSTRAINT `fk_indent_items_indent` FOREIGN KEY (`indent_id`) REFERENCES `pharmacy_indents` (`indent_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_indent_items`
--

LOCK TABLES `pharmacy_indent_items` WRITE;
/*!40000 ALTER TABLE `pharmacy_indent_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_indent_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_indents`
--

DROP TABLE IF EXISTS `pharmacy_indents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_indents` (
  `indent_id` int(11) NOT NULL AUTO_INCREMENT,
  `indent_number` varchar(50) NOT NULL,
  `indent_date` date NOT NULL,
  `ward` varchar(100) NOT NULL,
  `bed_number` varchar(50) DEFAULT NULL,
  `patient_id` int(11) DEFAULT NULL,
  `patient_name` varchar(150) DEFAULT NULL,
  `ipd_admission_no` varchar(50) DEFAULT NULL,
  `requested_by` varchar(100) NOT NULL,
  `priority` enum('NORMAL','URGENT','STAT') NOT NULL DEFAULT 'NORMAL',
  `status` enum('SUBMITTED','APPROVED','PARTIALLY_FULFILLED','FULFILLED','REJECTED','CANCELLED') NOT NULL DEFAULT 'SUBMITTED',
  `approved_by` int(11) DEFAULT NULL,
  `approved_at` datetime DEFAULT NULL,
  `rejected_by` int(11) DEFAULT NULL,
  `rejected_at` datetime DEFAULT NULL,
  `rejection_reason` varchar(255) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`indent_id`),
  UNIQUE KEY `indent_number` (`indent_number`),
  KEY `idx_indent_date` (`indent_date`),
  KEY `idx_indent_ward` (`ward`),
  KEY `idx_indent_status` (`status`),
  KEY `idx_indent_priority` (`priority`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_indents`
--

LOCK TABLES `pharmacy_indents` WRITE;
/*!40000 ALTER TABLE `pharmacy_indents` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_indents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_mar_corrections`
--

DROP TABLE IF EXISTS `pharmacy_mar_corrections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_mar_corrections` (
  `correction_id` int(11) NOT NULL AUTO_INCREMENT,
  `mar_id` int(11) NOT NULL,
  `old_status` varchar(50) NOT NULL,
  `new_status` varchar(50) NOT NULL,
  `old_administered_qty` int(11) NOT NULL DEFAULT 0,
  `new_administered_qty` int(11) NOT NULL DEFAULT 0,
  `old_administered_dose` decimal(10,2) DEFAULT NULL,
  `new_administered_dose` decimal(10,2) DEFAULT NULL,
  `correction_reason` varchar(255) NOT NULL,
  `corrected_by` int(11) NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`correction_id`),
  KEY `idx_corr_mar` (`mar_id`),
  KEY `idx_corr_user` (`corrected_by`),
  CONSTRAINT `fk_corr_mar` FOREIGN KEY (`mar_id`) REFERENCES `pharmacy_mar_records` (`mar_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_mar_corrections`
--

LOCK TABLES `pharmacy_mar_corrections` WRITE;
/*!40000 ALTER TABLE `pharmacy_mar_corrections` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_mar_corrections` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_mar_records`
--

DROP TABLE IF EXISTS `pharmacy_mar_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_mar_records` (
  `mar_id` int(11) NOT NULL AUTO_INCREMENT,
  `mar_number` varchar(50) NOT NULL,
  `prescription_id` int(11) NOT NULL,
  `prescription_item_id` int(11) NOT NULL,
  `patient_id` int(11) DEFAULT NULL,
  `patient_name` varchar(150) NOT NULL,
  `ipd_admission_no` varchar(50) DEFAULT NULL,
  `ward` varchar(100) DEFAULT NULL,
  `bed_number` varchar(50) DEFAULT NULL,
  `medicine_id` int(11) NOT NULL,
  `scheduled_date` date NOT NULL,
  `scheduled_time` time NOT NULL,
  `scheduled_dose` decimal(10,2) NOT NULL DEFAULT 1.00,
  `dose_unit` varchar(50) NOT NULL DEFAULT 'tablet',
  `route` varchar(50) NOT NULL DEFAULT 'ORAL',
  `status` enum('SCHEDULED','GIVEN','HELD','REFUSED','MISSED','OMITTED','CANCELLED') NOT NULL DEFAULT 'SCHEDULED',
  `actual_admin_time` datetime DEFAULT NULL,
  `administered_qty` int(11) NOT NULL DEFAULT 0,
  `administered_dose` decimal(10,2) DEFAULT NULL,
  `administered_by` int(11) DEFAULT NULL,
  `witnessed_by` varchar(100) DEFAULT NULL,
  `not_given_reason` varchar(255) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `idempotency_key` varchar(100) DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`mar_id`),
  UNIQUE KEY `mar_number` (`mar_number`),
  UNIQUE KEY `idempotency_key` (`idempotency_key`),
  KEY `idx_mar_prescription` (`prescription_id`),
  KEY `idx_mar_prescription_item` (`prescription_item_id`),
  KEY `idx_mar_patient` (`patient_id`),
  KEY `idx_mar_ipd` (`ipd_admission_no`),
  KEY `idx_mar_scheduled` (`scheduled_date`,`scheduled_time`),
  KEY `idx_mar_status` (`status`),
  KEY `idx_mar_medicine` (`medicine_id`),
  KEY `idx_mar_date_status` (`scheduled_date`,`status`),
  CONSTRAINT `fk_mar_medicine` FOREIGN KEY (`medicine_id`) REFERENCES `medicines` (`medicine_id`),
  CONSTRAINT `fk_mar_prescription` FOREIGN KEY (`prescription_id`) REFERENCES `pharmacy_prescriptions` (`prescription_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_mar_records`
--

LOCK TABLES `pharmacy_mar_records` WRITE;
/*!40000 ALTER TABLE `pharmacy_mar_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_mar_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_migrations`
--

DROP TABLE IF EXISTS `pharmacy_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_migrations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `migration` varchar(191) NOT NULL,
  `batch` int(11) NOT NULL,
  `executed_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `migration` (`migration`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_migrations`
--

LOCK TABLES `pharmacy_migrations` WRITE;
/*!40000 ALTER TABLE `pharmacy_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_patients`
--

DROP TABLE IF EXISTS `pharmacy_patients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_patients` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pharmacy_patient_no` varchar(30) NOT NULL,
  `hospital_patient_id` int(11) DEFAULT NULL,
  `hospital_uhid` varchar(50) DEFAULT NULL,
  `name` varchar(100) NOT NULL,
  `mobile` varchar(20) DEFAULT NULL,
  `gender` enum('Male','Female','Other') NOT NULL DEFAULT 'Other',
  `date_of_birth` date DEFAULT NULL,
  `address` text DEFAULT NULL,
  `city` varchar(50) DEFAULT NULL,
  `state` varchar(50) DEFAULT NULL,
  `pincode` varchar(10) DEFAULT NULL,
  `doctor_id` int(11) DEFAULT NULL,
  `status` enum('Active','Inactive') NOT NULL DEFAULT 'Active',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `pharmacy_patient_no` (`pharmacy_patient_no`),
  KEY `idx_mobile` (`mobile`),
  KEY `idx_hospital_uhid` (`hospital_uhid`),
  KEY `idx_hospital_patient` (`hospital_patient_id`),
  KEY `idx_name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_patients`
--

LOCK TABLES `pharmacy_patients` WRITE;
/*!40000 ALTER TABLE `pharmacy_patients` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_patients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_permissions`
--

DROP TABLE IF EXISTS `pharmacy_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_permissions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `permission_key` varchar(100) NOT NULL,
  `permission_name` varchar(150) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `permission_key` (`permission_key`)
) ENGINE=InnoDB AUTO_INCREMENT=88 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_permissions`
--

LOCK TABLES `pharmacy_permissions` WRITE;
/*!40000 ALTER TABLE `pharmacy_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_prescription_amendments`
--

DROP TABLE IF EXISTS `pharmacy_prescription_amendments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_prescription_amendments` (
  `amendment_id` int(11) NOT NULL AUTO_INCREMENT,
  `prescription_id` int(11) NOT NULL,
  `prescription_item_id` int(11) DEFAULT NULL,
  `field_name` varchar(100) NOT NULL,
  `old_value` text DEFAULT NULL,
  `new_value` text DEFAULT NULL,
  `amendment_reason` varchar(255) NOT NULL,
  `amended_by` int(11) NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`amendment_id`),
  KEY `idx_amend_rx` (`prescription_id`),
  KEY `idx_amend_item` (`prescription_item_id`),
  KEY `idx_amend_user` (`amended_by`),
  CONSTRAINT `fk_amend_rx` FOREIGN KEY (`prescription_id`) REFERENCES `pharmacy_prescriptions` (`prescription_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_prescription_amendments`
--

LOCK TABLES `pharmacy_prescription_amendments` WRITE;
/*!40000 ALTER TABLE `pharmacy_prescription_amendments` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_prescription_amendments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_prescription_items`
--

DROP TABLE IF EXISTS `pharmacy_prescription_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_prescription_items` (
  `item_id` int(11) NOT NULL AUTO_INCREMENT,
  `prescription_id` int(11) NOT NULL,
  `medicine_id` int(11) NOT NULL,
  `dose` decimal(10,2) DEFAULT NULL,
  `dose_unit` varchar(50) NOT NULL DEFAULT 'mg',
  `route` varchar(50) NOT NULL DEFAULT 'ORAL',
  `schedule` varchar(100) DEFAULT NULL,
  `prescribed_qty` int(11) NOT NULL,
  `dispensed_qty` int(11) NOT NULL DEFAULT 0,
  `dosage_instructions` varchar(255) DEFAULT NULL,
  `frequency` varchar(50) DEFAULT NULL,
  `duration_days` int(11) DEFAULT NULL,
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `notes` varchar(255) DEFAULT NULL,
  `status` enum('ACTIVE','DISCONTINUED','CANCELLED','COMPLETED') NOT NULL DEFAULT 'ACTIVE',
  `discontinued_at` datetime DEFAULT NULL,
  `discontinue_reason` varchar(255) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`item_id`),
  KEY `idx_rx_item_rx` (`prescription_id`),
  KEY `idx_rx_item_med` (`medicine_id`),
  CONSTRAINT `fk_rx_items_rx` FOREIGN KEY (`prescription_id`) REFERENCES `pharmacy_prescriptions` (`prescription_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_prescription_items`
--

LOCK TABLES `pharmacy_prescription_items` WRITE;
/*!40000 ALTER TABLE `pharmacy_prescription_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_prescription_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_prescriptions`
--

DROP TABLE IF EXISTS `pharmacy_prescriptions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_prescriptions` (
  `prescription_id` int(11) NOT NULL AUTO_INCREMENT,
  `prescription_number` varchar(50) NOT NULL,
  `prescription_date` date NOT NULL,
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `patient_type` enum('OPD','IPD','EXTERNAL') NOT NULL DEFAULT 'OPD',
  `patient_id` int(11) DEFAULT NULL,
  `patient_name` varchar(150) NOT NULL,
  `patient_mobile` varchar(25) DEFAULT NULL,
  `doctor_name` varchar(150) NOT NULL,
  `doctor_registration_no` varchar(100) DEFAULT NULL,
  `department` varchar(100) DEFAULT NULL,
  `ipd_admission_no` varchar(50) DEFAULT NULL,
  `ward` varchar(100) DEFAULT NULL,
  `bed_number` varchar(50) DEFAULT NULL,
  `status` enum('DRAFT','ACTIVE','PENDING','VERIFIED','PARTIALLY_DISPENSED','DISPENSED','COMPLETED','DISCONTINUED','CANCELLED','EXPIRED') NOT NULL DEFAULT 'PENDING',
  `verified_by` int(11) DEFAULT NULL,
  `verified_at` datetime DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `discontinued_by` int(11) DEFAULT NULL,
  `discontinued_at` datetime DEFAULT NULL,
  `discontinue_reason` varchar(255) DEFAULT NULL,
  `cancelled_by` int(11) DEFAULT NULL,
  `cancelled_at` datetime DEFAULT NULL,
  `cancellation_reason` varchar(255) DEFAULT NULL,
  `idempotency_key` varchar(100) DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`prescription_id`),
  UNIQUE KEY `prescription_number` (`prescription_number`),
  UNIQUE KEY `idempotency_key` (`idempotency_key`),
  KEY `idx_rx_date` (`prescription_date`),
  KEY `idx_rx_patient_id` (`patient_id`),
  KEY `idx_rx_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_prescriptions`
--

LOCK TABLES `pharmacy_prescriptions` WRITE;
/*!40000 ALTER TABLE `pharmacy_prescriptions` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_prescriptions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_purchase_invoice_grns`
--

DROP TABLE IF EXISTS `pharmacy_purchase_invoice_grns`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_purchase_invoice_grns` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `invoice_id` int(11) NOT NULL,
  `grn_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_invoice_grn` (`invoice_id`,`grn_id`),
  KEY `fk_pig_grn` (`grn_id`),
  CONSTRAINT `fk_pig_grn` FOREIGN KEY (`grn_id`) REFERENCES `pharmacy_grn` (`grn_id`),
  CONSTRAINT `fk_pig_invoice` FOREIGN KEY (`invoice_id`) REFERENCES `pharmacy_purchase_invoices` (`invoice_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_purchase_invoice_grns`
--

LOCK TABLES `pharmacy_purchase_invoice_grns` WRITE;
/*!40000 ALTER TABLE `pharmacy_purchase_invoice_grns` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_purchase_invoice_grns` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_purchase_invoice_items`
--

DROP TABLE IF EXISTS `pharmacy_purchase_invoice_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_purchase_invoice_items` (
  `invoice_item_id` int(11) NOT NULL AUTO_INCREMENT,
  `invoice_id` int(11) NOT NULL,
  `grn_item_id` int(11) DEFAULT NULL,
  `medicine_id` int(11) NOT NULL,
  `batch_id` int(11) DEFAULT NULL,
  `batch_number` varchar(50) DEFAULT NULL,
  `quantity` int(11) NOT NULL,
  `free_qty` int(11) NOT NULL DEFAULT 0,
  `purchase_rate` decimal(10,2) NOT NULL,
  `discount_percent` decimal(5,2) NOT NULL DEFAULT 0.00,
  `gst_percent` decimal(5,2) NOT NULL DEFAULT 0.00,
  `taxable_amount` decimal(12,2) NOT NULL,
  `gst_amount` decimal(12,2) NOT NULL DEFAULT 0.00,
  `line_total` decimal(12,2) NOT NULL,
  PRIMARY KEY (`invoice_item_id`),
  KEY `idx_invoice_id` (`invoice_id`),
  KEY `idx_grn_item_id` (`grn_item_id`),
  KEY `idx_medicine_id` (`medicine_id`),
  KEY `idx_batch_id` (`batch_id`),
  CONSTRAINT `fk_pinv_items_batch` FOREIGN KEY (`batch_id`) REFERENCES `medicine_batches` (`batch_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_pinv_items_grn_item` FOREIGN KEY (`grn_item_id`) REFERENCES `pharmacy_grn_items` (`grn_item_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_pinv_items_invoice` FOREIGN KEY (`invoice_id`) REFERENCES `pharmacy_purchase_invoices` (`invoice_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_pinv_items_medicine` FOREIGN KEY (`medicine_id`) REFERENCES `medicines` (`medicine_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_purchase_invoice_items`
--

LOCK TABLES `pharmacy_purchase_invoice_items` WRITE;
/*!40000 ALTER TABLE `pharmacy_purchase_invoice_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_purchase_invoice_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_purchase_invoices`
--

DROP TABLE IF EXISTS `pharmacy_purchase_invoices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_purchase_invoices` (
  `invoice_id` int(11) NOT NULL AUTO_INCREMENT,
  `invoice_number` varchar(50) NOT NULL,
  `supplier_invoice_no` varchar(100) NOT NULL,
  `supplier_id` int(11) NOT NULL,
  `po_id` int(11) DEFAULT NULL,
  `grn_id` int(11) DEFAULT NULL,
  `invoice_date` date NOT NULL,
  `due_date` date DEFAULT NULL,
  `taxable_amount` decimal(12,2) NOT NULL DEFAULT 0.00,
  `discount_amount` decimal(12,2) NOT NULL DEFAULT 0.00,
  `gst_amount` decimal(12,2) NOT NULL DEFAULT 0.00,
  `other_charges` decimal(12,2) NOT NULL DEFAULT 0.00,
  `round_off` decimal(6,2) NOT NULL DEFAULT 0.00,
  `grand_total` decimal(12,2) NOT NULL DEFAULT 0.00,
  `amount_paid` decimal(12,2) NOT NULL DEFAULT 0.00,
  `outstanding_amount` decimal(12,2) NOT NULL DEFAULT 0.00,
  `payment_status` enum('UNPAID','PARTIALLY_PAID','PAID','OVERDUE','CANCELLED') NOT NULL DEFAULT 'UNPAID',
  `match_status` enum('MATCHED','QUANTITY_MISMATCH','PRICE_MISMATCH','TAX_MISMATCH','PENDING_REVIEW') NOT NULL DEFAULT 'MATCHED',
  `payment_terms` varchar(100) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`invoice_id`),
  UNIQUE KEY `invoice_number` (`invoice_number`),
  KEY `idx_supplier_id` (`supplier_id`),
  KEY `idx_supplier_invoice_no` (`supplier_invoice_no`),
  KEY `idx_po_id` (`po_id`),
  KEY `idx_grn_id` (`grn_id`),
  KEY `idx_invoice_date` (`invoice_date`),
  KEY `idx_payment_status` (`payment_status`),
  KEY `idx_pinv_date_paystatus` (`invoice_date`,`payment_status`),
  CONSTRAINT `fk_pinv_grn` FOREIGN KEY (`grn_id`) REFERENCES `pharmacy_grn` (`grn_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_pinv_po` FOREIGN KEY (`po_id`) REFERENCES `pharmacy_purchase_orders` (`po_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_pinv_supplier` FOREIGN KEY (`supplier_id`) REFERENCES `pharmacy_suppliers` (`supplier_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_purchase_invoices`
--

LOCK TABLES `pharmacy_purchase_invoices` WRITE;
/*!40000 ALTER TABLE `pharmacy_purchase_invoices` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_purchase_invoices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_purchase_items`
--

DROP TABLE IF EXISTS `pharmacy_purchase_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_purchase_items` (
  `item_id` int(11) NOT NULL AUTO_INCREMENT,
  `purchase_id` int(11) NOT NULL,
  `medicine_id` int(11) NOT NULL,
  `batch_id` int(11) DEFAULT NULL,
  `batch_number` varchar(50) DEFAULT NULL,
  `mfg_date` date DEFAULT NULL,
  `expiry_date` date DEFAULT NULL,
  `quantity` int(11) NOT NULL,
  `received_quantity` int(11) NOT NULL DEFAULT 0,
  `rate` decimal(10,2) NOT NULL,
  `sale_rate` decimal(10,2) DEFAULT NULL,
  `gst_percent` decimal(5,2) DEFAULT 0.00,
  `amount` decimal(12,2) NOT NULL,
  PRIMARY KEY (`item_id`),
  KEY `idx_purchase_id` (`purchase_id`),
  KEY `idx_medicine_id` (`medicine_id`),
  KEY `idx_batch_id` (`batch_id`),
  CONSTRAINT `fk_pitems_medicine` FOREIGN KEY (`medicine_id`) REFERENCES `medicines` (`medicine_id`),
  CONSTRAINT `fk_pitems_purchase` FOREIGN KEY (`purchase_id`) REFERENCES `pharmacy_purchases` (`purchase_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_purchase_items`
--

LOCK TABLES `pharmacy_purchase_items` WRITE;
/*!40000 ALTER TABLE `pharmacy_purchase_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_purchase_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_purchase_order_items`
--

DROP TABLE IF EXISTS `pharmacy_purchase_order_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_purchase_order_items` (
  `po_item_id` int(11) NOT NULL AUTO_INCREMENT,
  `po_id` int(11) NOT NULL,
  `medicine_id` int(11) NOT NULL,
  `pack_size` varchar(50) DEFAULT '1',
  `requested_qty` int(11) NOT NULL,
  `free_qty` int(11) NOT NULL DEFAULT 0,
  `received_qty` int(11) NOT NULL DEFAULT 0,
  `purchase_rate` decimal(10,2) NOT NULL DEFAULT 0.00,
  `discount_percent` decimal(5,2) NOT NULL DEFAULT 0.00,
  `gst_percent` decimal(5,2) NOT NULL DEFAULT 0.00,
  `expected_mrp` decimal(10,2) NOT NULL DEFAULT 0.00,
  `expected_sale_price` decimal(10,2) NOT NULL DEFAULT 0.00,
  `line_total` decimal(12,2) NOT NULL DEFAULT 0.00,
  `notes` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`po_item_id`),
  KEY `idx_po_id` (`po_id`),
  KEY `idx_medicine_id` (`medicine_id`),
  CONSTRAINT `fk_po_items_medicine` FOREIGN KEY (`medicine_id`) REFERENCES `medicines` (`medicine_id`),
  CONSTRAINT `fk_po_items_po` FOREIGN KEY (`po_id`) REFERENCES `pharmacy_purchase_orders` (`po_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_purchase_order_items`
--

LOCK TABLES `pharmacy_purchase_order_items` WRITE;
/*!40000 ALTER TABLE `pharmacy_purchase_order_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_purchase_order_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_purchase_orders`
--

DROP TABLE IF EXISTS `pharmacy_purchase_orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_purchase_orders` (
  `po_id` int(11) NOT NULL AUTO_INCREMENT,
  `po_number` varchar(50) NOT NULL,
  `po_date` date NOT NULL,
  `supplier_id` int(11) NOT NULL,
  `expected_delivery_date` date DEFAULT NULL,
  `payment_terms` varchar(100) DEFAULT NULL,
  `status` enum('DRAFT','SUBMITTED','APPROVED','PARTIALLY_RECEIVED','FULLY_RECEIVED','CANCELLED','CLOSED') NOT NULL DEFAULT 'DRAFT',
  `subtotal_amount` decimal(12,2) NOT NULL DEFAULT 0.00,
  `discount_amount` decimal(12,2) NOT NULL DEFAULT 0.00,
  `tax_amount` decimal(12,2) NOT NULL DEFAULT 0.00,
  `total_amount` decimal(12,2) NOT NULL DEFAULT 0.00,
  `notes` text DEFAULT NULL,
  `approved_by` int(11) DEFAULT NULL,
  `approved_at` datetime DEFAULT NULL,
  `cancelled_by` int(11) DEFAULT NULL,
  `cancelled_at` datetime DEFAULT NULL,
  `cancellation_reason` text DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`po_id`),
  UNIQUE KEY `po_number` (`po_number`),
  KEY `idx_supplier_id` (`supplier_id`),
  KEY `idx_po_date` (`po_date`),
  KEY `idx_status` (`status`),
  CONSTRAINT `fk_po_supplier` FOREIGN KEY (`supplier_id`) REFERENCES `pharmacy_suppliers` (`supplier_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_purchase_orders`
--

LOCK TABLES `pharmacy_purchase_orders` WRITE;
/*!40000 ALTER TABLE `pharmacy_purchase_orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_purchase_orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_purchase_return_items`
--

DROP TABLE IF EXISTS `pharmacy_purchase_return_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_purchase_return_items` (
  `item_id` int(11) NOT NULL AUTO_INCREMENT,
  `return_id` int(11) NOT NULL,
  `medicine_id` int(11) NOT NULL,
  `batch_id` int(11) DEFAULT NULL,
  `quantity` int(11) NOT NULL,
  `received_quantity` int(11) NOT NULL DEFAULT 0,
  `refund_rate` decimal(10,2) NOT NULL,
  `amount` decimal(12,2) NOT NULL,
  `reason` varchar(255) DEFAULT NULL,
  `condition_status` varchar(50) NOT NULL DEFAULT 'DEFECTIVE',
  PRIMARY KEY (`item_id`),
  KEY `idx_return_id` (`return_id`),
  KEY `idx_medicine_id` (`medicine_id`),
  KEY `idx_batch_id` (`batch_id`),
  CONSTRAINT `fk_pritems_return` FOREIGN KEY (`return_id`) REFERENCES `pharmacy_purchase_returns` (`return_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_purchase_return_items`
--

LOCK TABLES `pharmacy_purchase_return_items` WRITE;
/*!40000 ALTER TABLE `pharmacy_purchase_return_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_purchase_return_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_purchase_returns`
--

DROP TABLE IF EXISTS `pharmacy_purchase_returns`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_purchase_returns` (
  `return_id` int(11) NOT NULL AUTO_INCREMENT,
  `return_number` varchar(50) DEFAULT NULL,
  `invoice_id` int(11) DEFAULT NULL,
  `supplier_id` int(11) DEFAULT NULL,
  `grn_id` int(11) DEFAULT NULL,
  `purchase_id` int(11) DEFAULT NULL,
  `return_date` date NOT NULL,
  `refund_amount` decimal(12,2) NOT NULL,
  `status` enum('DRAFT','REQUESTED','APPROVED','POSTED','CANCELLED') NOT NULL DEFAULT 'POSTED',
  `reason` text DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `idempotency_key` varchar(100) DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  `approved_by` int(11) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`return_id`),
  UNIQUE KEY `return_number` (`return_number`),
  UNIQUE KEY `idempotency_key` (`idempotency_key`),
  KEY `idx_purchase_id` (`purchase_id`),
  KEY `fk_pr_invoice` (`invoice_id`),
  KEY `fk_pr_supplier` (`supplier_id`),
  KEY `fk_pr_grn` (`grn_id`),
  CONSTRAINT `fk_pr_grn` FOREIGN KEY (`grn_id`) REFERENCES `pharmacy_grn` (`grn_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_pr_invoice` FOREIGN KEY (`invoice_id`) REFERENCES `pharmacy_purchase_invoices` (`invoice_id`),
  CONSTRAINT `fk_pr_supplier` FOREIGN KEY (`supplier_id`) REFERENCES `pharmacy_suppliers` (`supplier_id`),
  CONSTRAINT `fk_preturns_purchase` FOREIGN KEY (`purchase_id`) REFERENCES `pharmacy_purchases` (`purchase_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_purchase_returns`
--

LOCK TABLES `pharmacy_purchase_returns` WRITE;
/*!40000 ALTER TABLE `pharmacy_purchase_returns` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_purchase_returns` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_purchases`
--

DROP TABLE IF EXISTS `pharmacy_purchases`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_purchases` (
  `purchase_id` int(11) NOT NULL AUTO_INCREMENT,
  `purchase_order_no` varchar(50) DEFAULT NULL,
  `supplier_id` int(11) DEFAULT NULL,
  `invoice_number` varchar(50) DEFAULT NULL,
  `invoice_date` date DEFAULT NULL,
  `purchase_date` date NOT NULL,
  `total_amount` decimal(12,2) NOT NULL,
  `gst_amount` decimal(10,2) DEFAULT 0.00,
  `discount_amount` decimal(10,2) DEFAULT 0.00,
  `net_amount` decimal(12,2) NOT NULL,
  `payment_status` enum('Paid','Pending','Partial') DEFAULT 'Pending',
  `receiving_status` enum('Pending','Partial','Received','Cancelled') NOT NULL DEFAULT 'Received',
  `created_by` int(11) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`purchase_id`),
  UNIQUE KEY `purchase_order_no` (`purchase_order_no`),
  KEY `idx_supplier_id` (`supplier_id`),
  KEY `idx_invoice_number` (`invoice_number`),
  KEY `idx_receiving_status` (`receiving_status`),
  CONSTRAINT `fk_purchase_supplier` FOREIGN KEY (`supplier_id`) REFERENCES `pharmacy_suppliers` (`supplier_id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_purchases`
--

LOCK TABLES `pharmacy_purchases` WRITE;
/*!40000 ALTER TABLE `pharmacy_purchases` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_purchases` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_quarantine_records`
--

DROP TABLE IF EXISTS `pharmacy_quarantine_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_quarantine_records` (
  `quarantine_id` int(11) NOT NULL AUTO_INCREMENT,
  `quarantine_no` varchar(50) NOT NULL,
  `medicine_id` int(11) NOT NULL,
  `batch_id` int(11) NOT NULL,
  `quantity` int(11) NOT NULL,
  `reason` enum('EXPIRY_SUSPECT','PHYSICAL_DAMAGE','CUSTOMER_RETURN_INSPECTION','COLD_CHAIN_BREACH','MANUFACTURER_RECALL','OTHER') NOT NULL DEFAULT 'OTHER',
  `source_type` enum('INVENTORY','SALES_RETURN','GRN_REJECT') NOT NULL DEFAULT 'INVENTORY',
  `source_id` int(11) DEFAULT NULL,
  `status` enum('QUARANTINED','RELEASED_TO_STOCK','SENT_TO_DISPOSAL','CANCELLED') NOT NULL DEFAULT 'QUARANTINED',
  `notes` text DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  `released_by` int(11) DEFAULT NULL,
  `released_at` datetime DEFAULT NULL,
  `release_decision` varchar(50) DEFAULT NULL,
  `release_notes` text DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`quarantine_id`),
  UNIQUE KEY `quarantine_no` (`quarantine_no`),
  KEY `idx_medicine_id` (`medicine_id`),
  KEY `idx_batch_id` (`batch_id`),
  KEY `idx_status` (`status`),
  CONSTRAINT `fk_qrn_batch` FOREIGN KEY (`batch_id`) REFERENCES `medicine_batches` (`batch_id`),
  CONSTRAINT `fk_qrn_medicine` FOREIGN KEY (`medicine_id`) REFERENCES `medicines` (`medicine_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_quarantine_records`
--

LOCK TABLES `pharmacy_quarantine_records` WRITE;
/*!40000 ALTER TABLE `pharmacy_quarantine_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_quarantine_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_role_permissions`
--

DROP TABLE IF EXISTS `pharmacy_role_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_role_permissions` (
  `role_id` int(11) NOT NULL,
  `permission_id` int(11) NOT NULL,
  PRIMARY KEY (`role_id`,`permission_id`),
  KEY `idx_role` (`role_id`),
  KEY `idx_permission` (`permission_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_role_permissions`
--

LOCK TABLES `pharmacy_role_permissions` WRITE;
/*!40000 ALTER TABLE `pharmacy_role_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_role_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_roles`
--

DROP TABLE IF EXISTS `pharmacy_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_roles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `role_name` varchar(50) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `status` enum('Active','Inactive') NOT NULL DEFAULT 'Active',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `role_name` (`role_name`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_roles`
--

LOCK TABLES `pharmacy_roles` WRITE;
/*!40000 ALTER TABLE `pharmacy_roles` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_sale_item_batches`
--

DROP TABLE IF EXISTS `pharmacy_sale_item_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_sale_item_batches` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `sale_item_id` int(11) NOT NULL,
  `sale_id` int(11) NOT NULL,
  `medicine_id` int(11) NOT NULL,
  `batch_id` int(11) NOT NULL,
  `batch_number` varchar(100) NOT NULL,
  `expiry_date` date NOT NULL,
  `allocated_quantity` int(11) NOT NULL,
  `unit_cost` decimal(10,2) NOT NULL DEFAULT 0.00,
  `unit_price` decimal(10,2) NOT NULL DEFAULT 0.00,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_sale_item_id` (`sale_item_id`),
  KEY `idx_batch_id` (`batch_id`),
  KEY `idx_medicine_id` (`medicine_id`),
  CONSTRAINT `fk_sale_item_batches_item` FOREIGN KEY (`sale_item_id`) REFERENCES `pharmacy_sale_items` (`sale_item_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_sale_item_batches`
--

LOCK TABLES `pharmacy_sale_item_batches` WRITE;
/*!40000 ALTER TABLE `pharmacy_sale_item_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_sale_item_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_sale_items`
--

DROP TABLE IF EXISTS `pharmacy_sale_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_sale_items` (
  `sale_item_id` int(11) NOT NULL AUTO_INCREMENT,
  `sale_id` int(11) NOT NULL,
  `medicine_id` int(11) NOT NULL,
  `dosage_form` varchar(50) DEFAULT NULL,
  `pack_size` varchar(50) DEFAULT NULL,
  `quantity` int(11) NOT NULL,
  `unit_price` decimal(10,2) NOT NULL,
  `mrp` decimal(10,2) NOT NULL,
  `discount_percent` decimal(5,2) NOT NULL DEFAULT 0.00,
  `discount_amount` decimal(12,2) NOT NULL DEFAULT 0.00,
  `taxable_amount` decimal(12,2) NOT NULL DEFAULT 0.00,
  `gst_percent` decimal(5,2) NOT NULL DEFAULT 0.00,
  `gst_amount` decimal(12,2) NOT NULL DEFAULT 0.00,
  `line_total` decimal(12,2) NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`sale_item_id`),
  KEY `idx_sale_id` (`sale_id`),
  KEY `idx_medicine_id` (`medicine_id`),
  KEY `idx_sale_items_med` (`medicine_id`,`sale_id`),
  CONSTRAINT `fk_sale_items_sale` FOREIGN KEY (`sale_id`) REFERENCES `pharmacy_sales` (`sale_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_sale_items`
--

LOCK TABLES `pharmacy_sale_items` WRITE;
/*!40000 ALTER TABLE `pharmacy_sale_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_sale_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_sale_payments`
--

DROP TABLE IF EXISTS `pharmacy_sale_payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_sale_payments` (
  `payment_id` int(11) NOT NULL AUTO_INCREMENT,
  `payment_number` varchar(50) NOT NULL,
  `sale_id` int(11) NOT NULL,
  `payment_date` date NOT NULL,
  `amount` decimal(12,2) NOT NULL,
  `payment_mode` enum('CASH','UPI','CARD','BANK_TRANSFER','CHEQUE','CREDIT') NOT NULL DEFAULT 'CASH',
  `reference_number` varchar(100) DEFAULT NULL,
  `notes` varchar(255) DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`payment_id`),
  UNIQUE KEY `payment_number` (`payment_number`),
  KEY `idx_sale_id` (`sale_id`),
  KEY `idx_payment_date` (`payment_date`),
  CONSTRAINT `fk_sale_payments_sale` FOREIGN KEY (`sale_id`) REFERENCES `pharmacy_sales` (`sale_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_sale_payments`
--

LOCK TABLES `pharmacy_sale_payments` WRITE;
/*!40000 ALTER TABLE `pharmacy_sale_payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_sale_payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_sales`
--

DROP TABLE IF EXISTS `pharmacy_sales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_sales` (
  `sale_id` int(11) NOT NULL AUTO_INCREMENT,
  `sale_number` varchar(50) NOT NULL,
  `sale_type` enum('COUNTER_SALE','PRESCRIPTION_SALE','IPD_SALE') NOT NULL DEFAULT 'COUNTER_SALE',
  `sale_date` date NOT NULL,
  `patient_type` enum('WALK_IN','REGISTERED','IPD') NOT NULL DEFAULT 'WALK_IN',
  `patient_id` int(11) DEFAULT NULL,
  `customer_name` varchar(150) NOT NULL,
  `customer_mobile` varchar(25) DEFAULT NULL,
  `doctor_name` varchar(150) DEFAULT NULL,
  `prescription_id` int(11) DEFAULT NULL,
  `ipd_admission_id` varchar(50) DEFAULT NULL,
  `ipd_ward` varchar(50) DEFAULT NULL,
  `ipd_bed` varchar(50) DEFAULT NULL,
  `subtotal_amount` decimal(12,2) NOT NULL DEFAULT 0.00,
  `discount_percent` decimal(5,2) NOT NULL DEFAULT 0.00,
  `discount_amount` decimal(12,2) NOT NULL DEFAULT 0.00,
  `discount_reason` varchar(255) DEFAULT NULL,
  `discount_authorized_by` int(11) DEFAULT NULL,
  `taxable_amount` decimal(12,2) NOT NULL DEFAULT 0.00,
  `gst_amount` decimal(12,2) NOT NULL DEFAULT 0.00,
  `round_off` decimal(6,2) NOT NULL DEFAULT 0.00,
  `grand_total` decimal(12,2) NOT NULL DEFAULT 0.00,
  `paid_amount` decimal(12,2) NOT NULL DEFAULT 0.00,
  `balance_amount` decimal(12,2) NOT NULL DEFAULT 0.00,
  `payment_status` enum('UNPAID','PARTIALLY_PAID','PAID','CREDIT','CANCELLED') NOT NULL DEFAULT 'UNPAID',
  `payment_mode` varchar(50) NOT NULL DEFAULT 'CASH',
  `idempotency_key` varchar(100) DEFAULT NULL,
  `status` enum('DRAFT','COMPLETED','CANCELLED') NOT NULL DEFAULT 'COMPLETED',
  `notes` text DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  `cancelled_by` int(11) DEFAULT NULL,
  `cancelled_at` datetime DEFAULT NULL,
  `cancellation_reason` varchar(255) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`sale_id`),
  UNIQUE KEY `sale_number` (`sale_number`),
  UNIQUE KEY `idempotency_key` (`idempotency_key`),
  KEY `idx_sale_type` (`sale_type`),
  KEY `idx_sale_date` (`sale_date`),
  KEY `idx_customer_mobile` (`customer_mobile`),
  KEY `idx_patient_id` (`patient_id`),
  KEY `idx_prescription_id` (`prescription_id`),
  KEY `idx_payment_status` (`payment_status`),
  KEY `idx_created_by` (`created_by`),
  KEY `idx_sales_date_status` (`sale_date`,`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_sales`
--

LOCK TABLES `pharmacy_sales` WRITE;
/*!40000 ALTER TABLE `pharmacy_sales` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_sales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_sales_return_items`
--

DROP TABLE IF EXISTS `pharmacy_sales_return_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_sales_return_items` (
  `item_id` int(11) NOT NULL AUTO_INCREMENT,
  `return_id` int(11) NOT NULL,
  `sale_item_id` int(11) NOT NULL,
  `medicine_id` int(11) NOT NULL,
  `batch_id` int(11) NOT NULL,
  `sold_quantity` int(11) NOT NULL,
  `previously_returned_qty` int(11) NOT NULL DEFAULT 0,
  `return_quantity` int(11) NOT NULL,
  `unit_price` decimal(10,2) NOT NULL,
  `discount_percent` decimal(5,2) NOT NULL DEFAULT 0.00,
  `tax_percent` decimal(5,2) NOT NULL DEFAULT 0.00,
  `refund_amount` decimal(12,2) NOT NULL,
  `condition_status` enum('SEALED_INTACT','OPENED','DAMAGED','EXPIRED_POST_SALE') NOT NULL DEFAULT 'SEALED_INTACT',
  `restock_decision` enum('SELLABLE_RESTOCK','QUARANTINE','NON_SELLABLE','DISPOSAL') NOT NULL DEFAULT 'SELLABLE_RESTOCK',
  `return_reason` varchar(255) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`item_id`),
  KEY `idx_return_id` (`return_id`),
  KEY `idx_sale_item_id` (`sale_item_id`),
  KEY `idx_medicine_id` (`medicine_id`),
  KEY `idx_batch_id` (`batch_id`),
  CONSTRAINT `fk_sri_batch` FOREIGN KEY (`batch_id`) REFERENCES `medicine_batches` (`batch_id`),
  CONSTRAINT `fk_sri_medicine` FOREIGN KEY (`medicine_id`) REFERENCES `medicines` (`medicine_id`),
  CONSTRAINT `fk_sri_return` FOREIGN KEY (`return_id`) REFERENCES `pharmacy_sales_returns` (`return_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_sri_sale_item` FOREIGN KEY (`sale_item_id`) REFERENCES `pharmacy_sale_items` (`sale_item_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_sales_return_items`
--

LOCK TABLES `pharmacy_sales_return_items` WRITE;
/*!40000 ALTER TABLE `pharmacy_sales_return_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_sales_return_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_sales_returns`
--

DROP TABLE IF EXISTS `pharmacy_sales_returns`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_sales_returns` (
  `return_id` int(11) NOT NULL AUTO_INCREMENT,
  `return_number` varchar(50) NOT NULL,
  `return_date` date NOT NULL,
  `sale_id` int(11) NOT NULL,
  `sale_number` varchar(50) NOT NULL,
  `patient_id` int(11) DEFAULT NULL,
  `customer_name` varchar(150) DEFAULT NULL,
  `sale_type` varchar(50) NOT NULL DEFAULT 'COUNTER',
  `total_refund_amount` decimal(12,2) NOT NULL DEFAULT 0.00,
  `payment_mode` enum('CASH','UPI','CARD','CREDIT','PATIENT_WALLET') NOT NULL DEFAULT 'CASH',
  `refund_status` enum('PENDING','PROCESSED','REJECTED') NOT NULL DEFAULT 'PROCESSED',
  `reason` text DEFAULT NULL,
  `status` enum('DRAFT','REQUESTED','APPROVED','POSTED','REJECTED','CANCELLED') NOT NULL DEFAULT 'POSTED',
  `idempotency_key` varchar(100) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  `approved_by` int(11) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`return_id`),
  UNIQUE KEY `return_number` (`return_number`),
  UNIQUE KEY `idempotency_key` (`idempotency_key`),
  KEY `idx_sale_id` (`sale_id`),
  KEY `idx_sale_number` (`sale_number`),
  KEY `idx_return_date` (`return_date`),
  KEY `idx_status` (`status`),
  CONSTRAINT `fk_sr_sale` FOREIGN KEY (`sale_id`) REFERENCES `pharmacy_sales` (`sale_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_sales_returns`
--

LOCK TABLES `pharmacy_sales_returns` WRITE;
/*!40000 ALTER TABLE `pharmacy_sales_returns` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_sales_returns` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_sequences`
--

DROP TABLE IF EXISTS `pharmacy_sequences`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_sequences` (
  `sequence_key` varchar(50) NOT NULL,
  `prefix` varchar(20) NOT NULL,
  `current_value` bigint(20) unsigned NOT NULL DEFAULT 0,
  `pad_length` int(11) NOT NULL DEFAULT 6,
  `description` varchar(150) DEFAULT NULL,
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`sequence_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_sequences`
--

LOCK TABLES `pharmacy_sequences` WRITE;
/*!40000 ALTER TABLE `pharmacy_sequences` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_sequences` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_settings`
--

DROP TABLE IF EXISTS `pharmacy_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_settings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `setting_key` varchar(100) NOT NULL,
  `setting_value` text DEFAULT NULL,
  `setting_type` varchar(50) NOT NULL DEFAULT 'string',
  `description` text DEFAULT NULL,
  `updated_by` int(11) DEFAULT NULL,
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `setting_key` (`setting_key`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_settings`
--

LOCK TABLES `pharmacy_settings` WRITE;
/*!40000 ALTER TABLE `pharmacy_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_stock_adjustments`
--

DROP TABLE IF EXISTS `pharmacy_stock_adjustments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_stock_adjustments` (
  `adjustment_id` int(11) NOT NULL AUTO_INCREMENT,
  `adjustment_no` varchar(50) NOT NULL,
  `medicine_id` int(11) NOT NULL,
  `batch_id` int(11) DEFAULT NULL,
  `adjustment_type` enum('Increase','Decrease','Damage','Expired','Count Reconciliation','Found Stock') NOT NULL,
  `quantity` int(11) NOT NULL,
  `old_quantity` int(11) NOT NULL DEFAULT 0,
  `new_quantity` int(11) NOT NULL DEFAULT 0,
  `reason` text NOT NULL,
  `created_by` int(11) NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`adjustment_id`),
  UNIQUE KEY `adjustment_no` (`adjustment_no`),
  KEY `idx_medicine_id` (`medicine_id`),
  KEY `idx_batch_id` (`batch_id`),
  KEY `idx_adjustment_type` (`adjustment_type`),
  CONSTRAINT `fk_adj_medicine` FOREIGN KEY (`medicine_id`) REFERENCES `medicines` (`medicine_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_stock_adjustments`
--

LOCK TABLES `pharmacy_stock_adjustments` WRITE;
/*!40000 ALTER TABLE `pharmacy_stock_adjustments` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_stock_adjustments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_stock_ledger`
--

DROP TABLE IF EXISTS `pharmacy_stock_ledger`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_stock_ledger` (
  `ledger_id` int(11) NOT NULL AUTO_INCREMENT,
  `medicine_id` int(11) NOT NULL,
  `batch_id` int(11) DEFAULT NULL,
  `transaction_type` varchar(50) NOT NULL,
  `reference_type` varchar(50) DEFAULT NULL,
  `reference_id` int(11) DEFAULT NULL,
  `reference_no` varchar(50) DEFAULT NULL,
  `quantity_change` int(11) NOT NULL,
  `balance_before` int(11) NOT NULL DEFAULT 0,
  `balance_after` int(11) NOT NULL DEFAULT 0,
  `unit_cost` decimal(10,2) NOT NULL DEFAULT 0.00,
  `unit_price` decimal(10,2) NOT NULL DEFAULT 0.00,
  `reason` text DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`ledger_id`),
  KEY `idx_medicine_id` (`medicine_id`),
  KEY `idx_batch_id` (`batch_id`),
  KEY `idx_transaction_type` (`transaction_type`),
  KEY `idx_reference_no` (`reference_no`),
  KEY `idx_created_at` (`created_at`),
  KEY `idx_ledger_med_created` (`medicine_id`,`created_at`),
  CONSTRAINT `fk_ledger_medicine` FOREIGN KEY (`medicine_id`) REFERENCES `medicines` (`medicine_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_stock_ledger`
--

LOCK TABLES `pharmacy_stock_ledger` WRITE;
/*!40000 ALTER TABLE `pharmacy_stock_ledger` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_stock_ledger` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_supplier_payment_allocations`
--

DROP TABLE IF EXISTS `pharmacy_supplier_payment_allocations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_supplier_payment_allocations` (
  `allocation_id` int(11) NOT NULL AUTO_INCREMENT,
  `payment_id` int(11) NOT NULL,
  `invoice_id` int(11) NOT NULL,
  `allocated_amount` decimal(12,2) NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`allocation_id`),
  KEY `idx_payment_id` (`payment_id`),
  KEY `idx_invoice_id` (`invoice_id`),
  CONSTRAINT `fk_spay_alloc_invoice` FOREIGN KEY (`invoice_id`) REFERENCES `pharmacy_purchase_invoices` (`invoice_id`),
  CONSTRAINT `fk_spay_alloc_payment` FOREIGN KEY (`payment_id`) REFERENCES `pharmacy_supplier_payments` (`payment_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_supplier_payment_allocations`
--

LOCK TABLES `pharmacy_supplier_payment_allocations` WRITE;
/*!40000 ALTER TABLE `pharmacy_supplier_payment_allocations` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_supplier_payment_allocations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_supplier_payments`
--

DROP TABLE IF EXISTS `pharmacy_supplier_payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_supplier_payments` (
  `payment_id` int(11) NOT NULL AUTO_INCREMENT,
  `payment_number` varchar(50) NOT NULL,
  `supplier_id` int(11) NOT NULL,
  `payment_date` date NOT NULL,
  `amount` decimal(12,2) NOT NULL,
  `payment_mode` enum('Cash','UPI','Bank Transfer','Cheque','NEFT/RTGS','Other') NOT NULL DEFAULT 'Bank Transfer',
  `reference_no` varchar(100) DEFAULT NULL,
  `cheque_date` date DEFAULT NULL,
  `bank_name` varchar(100) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `status` enum('Completed','Cancelled') NOT NULL DEFAULT 'Completed',
  `created_by` int(11) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`payment_id`),
  UNIQUE KEY `payment_number` (`payment_number`),
  KEY `idx_supplier_id` (`supplier_id`),
  KEY `idx_payment_date` (`payment_date`),
  KEY `idx_status` (`status`),
  CONSTRAINT `fk_spay_supplier` FOREIGN KEY (`supplier_id`) REFERENCES `pharmacy_suppliers` (`supplier_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_supplier_payments`
--

LOCK TABLES `pharmacy_supplier_payments` WRITE;
/*!40000 ALTER TABLE `pharmacy_supplier_payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_supplier_payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_suppliers`
--

DROP TABLE IF EXISTS `pharmacy_suppliers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_suppliers` (
  `supplier_id` int(11) NOT NULL AUTO_INCREMENT,
  `supplier_code` varchar(50) DEFAULT NULL,
  `supplier_name` varchar(150) NOT NULL,
  `legal_name` varchar(150) DEFAULT NULL,
  `contact_person` varchar(100) DEFAULT NULL,
  `phone` varchar(30) DEFAULT NULL,
  `alternate_mobile` varchar(30) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `city` varchar(100) DEFAULT NULL,
  `state` varchar(100) DEFAULT NULL,
  `pincode` varchar(20) DEFAULT NULL,
  `gstin` varchar(25) DEFAULT NULL,
  `pan` varchar(20) DEFAULT NULL,
  `drug_licence_no` varchar(100) DEFAULT NULL,
  `drug_licence_type` varchar(50) DEFAULT NULL,
  `licence_expiry_date` date DEFAULT NULL,
  `supplier_type` varchar(50) NOT NULL DEFAULT 'Distributor',
  `payment_terms` varchar(100) DEFAULT NULL,
  `credit_days` int(11) NOT NULL DEFAULT 30,
  `credit_limit` decimal(12,2) NOT NULL DEFAULT 0.00,
  `opening_balance` decimal(12,2) NOT NULL DEFAULT 0.00,
  `bank_name` varchar(100) DEFAULT NULL,
  `bank_account_no` varchar(50) DEFAULT NULL,
  `bank_ifsc` varchar(20) DEFAULT NULL,
  `status` enum('Active','Inactive','Blocked') NOT NULL DEFAULT 'Active',
  `notes` text DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  `updated_by` int(11) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`supplier_id`),
  UNIQUE KEY `uq_supplier_code` (`supplier_code`),
  KEY `idx_supplier_name` (`supplier_name`),
  KEY `idx_phone` (`phone`),
  KEY `idx_gstin` (`gstin`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_suppliers`
--

LOCK TABLES `pharmacy_suppliers` WRITE;
/*!40000 ALTER TABLE `pharmacy_suppliers` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_suppliers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_users`
--

DROP TABLE IF EXISTS `pharmacy_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pharmacy_users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `full_name` varchar(100) NOT NULL,
  `mobile` varchar(20) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `role_id` int(11) NOT NULL,
  `status` tinyint(1) NOT NULL DEFAULT 1,
  `last_login_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  KEY `idx_role` (`role_id`),
  KEY `idx_username_status` (`username`,`status`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_users`
--

LOCK TABLES `pharmacy_users` WRITE;
/*!40000 ALTER TABLE `pharmacy_users` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-21 12:24:22
